*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.encabezado{
    background: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


.imagen{
    display: flex;
}

.pizzafront{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
}
.pizza{
    color: #39B24A ;
}

.and{
    color: white;

}

.front{
color: #FC200C;
}

nav{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #F3F3F3;
    font-size: 16px;
}

span{
    position:right;
    
}

footer{
    flex-direction: row-reverse;
}

footer nav{
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
}